@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body{
  background-color: #333333;
  background: url(key.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#bg{
  display: inline;
}

#dogo {
  color: red; 
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

#key {
  font-family: "Source Sans Pro";
  font-size: 30px;
  text-align: center;
  align-self: center;
  color: white;
  border-radius: 12px;
  border: none;
  background-color: #3CBC8D;
}

#cp{
  color: white; 
  font-size: 24px; 
  display: none;
  font-family: "Arial";
}

#fix{
  background-color: #3498db;
  font-weight: bold;
  border: none;
  margin-bottom: 10px;
  padding: 8px 40px 10px 40px;
  font-size: 24px;
  border-radius: 12px;
  box-shadow: 2px 2px;
  cursor: pointer;
  align-content: center;
  display: block;
  margin-top: 20px;
}